{% extends 'base.html.twig' %}

{% block title %}Hello my lovely friend!{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <main>
        <div class="gauche">
            <h2 >Welcome to my Symfony Manual</h2>
        </div>

        <div class="container">
                <p> Bienvenue à vous jeune développeur, en étant un moi-même, j'ai pensé qu'il pouvait être agréable
                de disposer d'un manuel expliquant comment s'initier à symfony. <br>
                Ne l'ayant jamais utilisé avant de commencer mon stage de Remise à niveau développement WEB,
                je sais que les tutoriels et autres sont en nombre conséquent. Comme il est difficile de s'approprier ce framework,
                je me suis dit que cela ferait un bon projet d'entrainement pour moi-même ainsi qu'un bon moyen de garde une trace de mes avancées.</p>

                <hr>

                <h3>
                    Mais qu'est-ce que symfony ?
                </h3>

                <p> Symfony est un framework qui représente un ensemble de composants (aussi appelés librairies) PHP autonomes
                    qui peuvent être utilisés dans des projets web privé ou open source. Mais c’est également un puissant Framework
                    PHP développé par une société française : SensioLabs. Il permet de réaliser des sites internet dynamiques de
                    manière rapide, structurée, et avec un développement clair. Les développeurs peuvent travailler sur ce Framework
                    très facilement, seuls ou en équipe, grâce à la facilité de prise en main.
                </p>

                <br>

        </div>

        <br>

    </main>

{% endblock %}
