{% extends 'base.html.twig' %}

{% block title %}Hello my lovely friend!{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<h1>Accueil</h1>
    <p>Voici ma premiere page qui ne fonctionne pas bien évidemment</p>
    <p>Je vais peter un plomb dans très peu de temps</p>

{% endblock %}
