{% extends 'base.html.twig' %}

{% block title %}Hello my lovely friend!{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <main>
        <div class="gauche">
            <h2 >Welcome to my Symfony Manual</h2>

            <img id="symfo" src="{{ asset('build/images/symfony_logo_vertical.png') }}" alt="">
        </div>


                <p> Bienvenue à vous jeune développeur, en étant un moi-même j'ai pensé qu'il pouvait être agréable
                de disposer d'un manuel expliquant comment s'initier à symfony. <br>
                Ne l'ayant jamais utilisé avant de commencer mon stage de Remise à niveau développement WEB,
                je sais que les tutoriels et autres sont en nombre conséquent. Comme il est difficile de s'approprier ce framework,
                je me suis dit que cela ferait un bon projet d'entrainement pour moi-même ainsi qu'un bon moyen de garde une trace de mes avancées.</p>

        <hr>
                
                <h3>C'est quoi symfony ?</h3>

                <p>Symfony est un framework PHP « open source » utilisé par les développeurs pour créer des sites ou
                    applications Web complexes, robustes, fiables, évolutifs, maintenables et performants.
                    <br>
                    Comme une grande « bibliothèque de solutions efficaces et prêtes à l’emploi », Symfony regroupe de
                    nombreux composants qui facilitent le développement des produits digitaux. L’utilisation d’un tel framework est de :
                </p>
                <ul>
                    <li>Limiter le codage fastidieux</li>
                    <li>Limiter le codage sans valeur ajoutée</li>
                    <li>Réduire le temps de développement</li>
                    <li>Guider le développeur et fiabiliser son travail</li>
                </ul>

        <br>

    </main>

{% endblock %}
