<header id="top">
    <!-- Définition de la navbar avec système d'ancre -->
    <div class="navbar">
        <div>
            <a href="/"><img id="logo" src="{{ asset('media/symfony_logo_vertical.png') }}" alt="logo du framework symfony"></a>
        </div>
        <div>
            <h1>Symfony Manual</h1>
        </div>
        <div>
            <ol class="navitem">
                <li><a href="/config"> Configuration Environnement</a></li>
                <li><a href="#"> Creation du premier projet</a> </li>
                <li><a href="#"> Structure d'un projet symfony</a></li>
                <li><a href="#">  SGBD</a></li>
                <li><a href="#"> Bibliographies</a></li>
            </ol>
        </div>
    </div>

</header>
