{% extends 'base.html.twig' %}

{% block title %}Bienvenue en enfer !{% endblock %}

{% block body %}

    <div class="sidebar" id="top">
        <p id="nav-title"><a href="#top">Nos étapes</a></p>
        <ol>
            <li id="list-nav"><a href="#">1. Début projet</a></li>
            <li id="list-nav"><a href="#dossier">2. Création projet </a> </li>
        </ol>
    </div>

    <main id="article">

        <div class="container">
            <h2>Introduction à la base de données.</h2>

                <h3>La méthode Merise</h3>

            <p>MERISE est une méthode française née dans les années 70, développée initialement par Hubert
                Tardieu. Elle fut ensuite mise en avant dans les années 80, à la demande du ministère de l'Industrie
                qui souhaitait une méthode de conception des Systèmes d'Informations (SI).</p>

            <p>MERISE est donc une méthode d'analyse et de conception des SI basée sur le principe de la
                séparation des données et des traitements. Elle possède un certain nombre de modèles (ou
                schémas) qui sont répartis sur trois niveaux :</p>

            <ul class="list-article">
                <li>Le niveau Conceptuel ou MCD (Méthode Conceptuelle des Données).</li>
                <li>Le niveau logique ou organisationnel ou MLD. (Méthode Logique des Données).</li>
                <li>Le niveau physique ou MPD. (Modèle Physique des données).</li>
            </ul>

            <p>Nous allons donc commencer par la première étape de notre réflexion qui va être de concevoir notre MCD.</p>

            <hr>

            <h3 id="mcd">Modélisation d'une base de données au niveau conceptuel.</h3>

            <p>Elaborer son MCD correspond à effectuer une représentation graphique et structurée des informations mémorisées par un SI.
            Dans le MCD, on retrouve deux composantes principales : les <span>Entité</span> ainsi que les <span>Associations</span>.
            On retrouve d'ailleurs l'appellation de schéma Entité/Association pour designer le MCD. </p>

            <p>Pour créer notre MCD, nous allons devoir passer par quatres étapes:</p>

            <ul class="list-article">
                <li>Les règles de gestion.</li>
                <li>Le dictionnaire de données</li>
                <li>Et enfin l'élaboration de notre MCD (entités, associations puis ajout des cardinalités)</li>
            </ul>

            <h4 class="sous-titre">Les règles de gestion.</h4>

            <p>Nous sommes ici dans les prémices de notre conceptualisation. Pour créer nos futures tables, il va falloir
            recueillir les besoins de nos futurs utilisateurs. A partir de ces derniers, nous devrions être en mesure d'établir nos
            règles de gestion de données.</p>

            <p>ON peut prendre pour exemple un développeur qui doit informatiser le SI d'un disquaire qu'il connait:</p>

                <ul class="list-article">
                    <li>Pour chaque disque/vinyle, on doit connaître son année de parution, son titre, son genre</li>
                    <li>Un album peut être réalisé par un ou plusieurs artistes dont on connait le nom, le prénom, la date de naissance et l'origine.</li>
                    <li>Chaque disque est identifiable par une référence et ne peut être produit que par une maison de disque.</li>
                </ul>

            <p>Sans s'en rendre compte, juste en énumérant ses besoins, le client nous donne alors naturellement notre base de travail.
            Il est cependant possible que le client ne soit pas en mesure d'exprimer clairement ses besoins. C'est alors qu'en tant que professionnel, il faudra
            creuser le sujet et l'interroger plus précisement car sa logique informatique n'est pas forcément très développée, notre devoir est donc de l'assister au mieux
            possible pour que sa sollicitation soit bien traitée.</p>


            <h4 class="sous-titre">Le dictionnaire de données.</h4>

            <p>C'est une étape intermédiaire qui peut avoir son importance, surtout si vous êtes plusieurs à
                travailler sur une même base de données, d'un volume important. <br>
                Le dictionnaire des données est un document qui regroupe toutes les données que vous aurez à
                conserver dans votre base (et qui figureront donc dans le MCD). Pour chaque donnée, il indique :</p>
            
                <ul class="list-article">
                    <li>le code mnémonique : il s'agit d'un libellé désignant une donnée (par exemple «titre_l» pour
                        le titre d'un livre) ;</li>
                    <li>la désignation : il s'agit d'une mention décrivant ce à quoi la donnée correspond (par
                        exemple «titre du livre») ;</li>
                    <li>le type de donnée :</li>
                    <li> A ou Alphabétique : lorsque la donnée est uniquement composée de caractères
                        alphabétiques (de 'A' à 'Z' et de 'a' à 'z'),</li>
                    <li> N ou Numérique : lorsque la donnée est composée uniquement de nombres (entiers ou
                        réels),</li>
                    <li> AN ou Alphanumérique : lorsque la donnée peut être composée à la fois de caractères
                        alphabétiques et numériques,</li>
                    <li> Date : lorsque la donnée est une date (au format AAAA-MM-JJ),</li>
                    <li> Booléen : Vrai ou Faux ;</li>
                    <li> la taille : elle s'exprime en nombre de caractères ou de chiffres. Dans le cas d'une date au
                        format AAAA-JJ-MM, on compte également le nombre de caractères, soit 10 caractères. Pour
                        ce qui est du type booléen, nul besoin de préciser la taille (ceci dépend de l'implémentation
                        du SGBDR) ;</li>
                    <li> et parfois des remarques ou observations complémentaires (par exemple si une donnée est
                        strictement supérieure à 0, etc.).</li>
                </ul>

            <p>Voici un exemple de dictionnaire de données pour se le representer plus facilement</p>

            <br>

            <img src="{{ asset('build/images/Exemple-donnees.png') }}" class="illustration" alt="exemple tableau">




            <h4>Le modèle conceptuel de données</h4>

                <h5>Les entités </h5>

            <p>Chaque entité est unique et est décrite par un ensemble de propriétés encore appelées attributs ou
                caractéristiques. Une des propriétés de l'entité est l'identifiant. Cette propriété doit posséder des
                occurrences uniques et doit être source des dépendances fonctionnelles avec toutes les autres
                propriétés de l'entité. Bien souvent, on utilise une donnée de type entier qui s'incrémente pour
                chaque occurrence, ou encore un code unique spécifique du contexte.</p>

            <img src="{{ asset('build/images/entite.png') }}" class="illustration" alt="">

            <p>On peut reprendre l'exemple du dessus avec notre disquaire et schématiser une entité disque par exemple:</p>

            <img src="{{ asset('build/images/entitexemple.png') }}" class="illustration" alt="">

            <p>Ce qui nous donne notre premier exemple de ce type</p>

            <img src="{{ asset('build/images/bddentiteexemple.png') }}" class="illustration" alt="">



        </div>
    </main>

{% endblock %}
