body {
    margin: auto;
    line-height: 1.5;
}

.navbar {
    display: flex;
    width: 100%;
    height: 90px;
    justify-content: space-around;
    align-items: center;
    background: #444444;
    box-shadow: 0 3px 5px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
}


#logo {
    width: 8vh;
    height: 8vh;
    padding: 0.5em;
}

h1 {
    font-family: FreeSerif, serif;
    font-size: 2rem;
    color: #ffffff;
}

h2 {
    font-family: FreeSerif, serif;
    font-size: 3rem;
    color: #eb6f6f;
    padding: 5vh ;
    margin: 0;
    text-align: center;
}

.navitem {
    display: flex;
    font-size: 1rem;
    gap: 5vh;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #d3cccc;
}


.sidebar {
    height: 100%;
    width: 17%;
    position: fixed;
    background-color: #0c3747;
    z-index: 1;
    padding-top: 130px;
    box-shadow: 5px 5px 5px 5px;
}

.sidebar li {
    font-size: 1.1em;
    display: block;
    padding: 0.5em;
    color: #e0e0e0;

}

.centre {
    text-align: center;
}

main {
    height: 100%;
    background-color: antiquewhite;
    padding-top: 140px;
    padding-bottom: 100px;
}


#article {
    padding-left: 35vh;
    height: 100%;
}



hr {
    margin: 135px 0 135px 120px;
    width: 75%;
}



#symfo {
    height: 25%;
    width: 25%;
}

.gauche {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
}

h3 {
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 4em;
    color: #B0413E;
}

p {
    font-family: FreeSerif, serif;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3;
    text-justify: justify;
}

#lasted {
    font-family: FreeSerif, serif;
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 3;
    margin: 0;
}

.box-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    text-align: justify;
}

#list-nav {
    font-size: 0.90rem;
    margin-right: 5px;
    margin-top: 5px;
}
#nav-title {
    font-family: FreeSerif, serif;
    font-size: 1.2rem;
    color: #FFFFFF;
}

.terminal {
    background: #000;
    color: white;
    padding: 5px
}

.illustration {
    margin-left: 300px;
    max-width: 500px;
    max-height: 500px;
}

.illustrationspe {
    max-width: 900px;
    max-height: 900px;
    margin-left: 150px;
}

.illustrationfinale {
    max-width: 300px;
    max-height: 300px;
    border-radius: 100%;
    margin-left: 50px;
    margin-top: 70px;
}

.container {
    width: 75%;
    margin: auto;
}

#lien-article {
    color: #111111;
    list-style: none;
}





















footer{
    display: flex;
    background: #111;
    height: 25px;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 40px;
    color: #fff;
    bottom: 0;
    right: 0;
    position: fixed;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}

#logo-footer {
    border-radius: 100%;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}