<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/symfony_logo_vertical.png') }}" />
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>

    {% embed "_part/header.html.twig" %}{% endembed %}

    {% block body %}{% endblock %}

    {% embed "_part/footer.html.twig" %}{% endembed %}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
