{% extends 'base.html.twig' %}

{% block title %}On oublie pas les sources !{% endblock %}

{% block body %}
    <main class="centre">
        <div class="container">
            <h2>Bibliographies / Webographies </h2>
            
            <ul id="lien-article">
                <li><a id="lien-article" href="https://www.php.net/">- La documentation PHP: </a></li>
                <li><a id="lien-article" href="https://www.youtube.com/c/TechWall">- La chaine Youtube Techwall, playlist symfony </a></li>
                <li><a id="lien-article" href="https://getcomposer.org/doc/00-intro.md">- La documentation de composera </a></li>
                <li><a id="lien-article" href="https://weenesta.com/fr/blog/post/comprendre-utiliser-composer">- Tuto composer: </a></li>
                <li><a id="lien-article" href="https://doc.ubuntu-fr.org/">- Wiki ubuntu pour les commandes d'installation ubuntu </a></li>
                <li><a id="lien-article" href="https://www.axopen.com/blog/2020/12/symfony-framework-php-structure-demarrage-projet/">- Le site axopen </a></li>
                <li><a id="lien-article" href="https://stacktraceback.com/cours/symfony-structure/">- Le site stacktraceback </a></li>
                <li></li>
            </ul>
        </div>
        
        <div class="container">
            <img src="{{ asset('build/images/symfony-footer.jpg') }}" class="illustrationfinale" alt="">
        </div>
        
        
    </main>
{% endblock %}
