{% extends 'base.html.twig' %}

{% block title %}On oublie pas les sources !{% endblock %}

{% block body %}
    <main class="centre">
        <div class="container">
            <h2>Bibliographies / Webographies </h2>
            
            <ul id="lien-article">
                <li><a href="https://www.php.net/" target="_blank">- La documentation PHP: </a></li>
                <li><a href="https://www.youtube.com/c/TechWall" target="_blank">- La chaine Youtube Techwall, playlist symfony </a></li>
                <li><a href="https://getcomposer.org/doc/00-intro.md" target="_blank">- La documentation de composera </a></li>
                <li><a href="https://weenesta.com/fr/blog/post/comprendre-utiliser-composer" target="_blank">- Tuto composer: </a></li>
                <li><a href="https://doc.ubuntu-fr.org/" target="_blank">- Wiki ubuntu pour les commandes d'installation ubuntu </a></li>
                <li><a href="https://www.axopen.com/blog/2020/12/symfony-framework-php-structure-demarrage-projet/" target="_blank">- Le site axopen </a></li>
                <li><a href="https://stacktraceback.com/cours/symfony-structure/" target="_blank">- Le site stacktraceback </a></li>
                <li><a href="https://symfony.com/doc/current/index.html" target="_blank">La documentation symfony !</a></li>
            </ul>
        </div>
        
        <div class="container">
            <img src="{{ asset('build/images/symfony-footer.jpg') }}" class="logo-biblio" alt="logo symfony">
        </div>
        
        
    </main>
{% endblock %}
