{% extends 'base.html.twig' %}

{% block title %}Hello FirstprojectController!{% endblock %}

{% block body %}
    <div class="sidebar">
        <p id="nav-title">Nos étapes</p>
        <ol>
            <li id="list-nav"><a href="#anchorphp">1. PHP 8</a></li>
            <li id="list-nav"><a href="#anchorcomp">2. Composer</a> </li>
            <li id="list-nav"><a href="#anchorcli">3. Symfony CLI</a> </li>
            <li id="list-nav"><a href="#anchordb">4. SGBD</a> </li>
        </ol>
    </div>
{% endblock %}
